<div *ngIf="loading" class="loader">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div *ngIf="!loading" class="todolist__wrap">
  <div *ngFor="let stodo of todo" class="single-todo__wrap">
    <label htmlFor="{{ stodo.id }}">
      <span class="task__title">{{ stodo.todo }}</span>
      <input
        (change)="handleChange(stodo.id, $event)"
        type="checkbox"
        [id]="stodo.id"
        [checked]="stodo.completed"
      />
      <div class="fake__checkbox"></div>
    </label>
    <div class="task__group">This is a project name</div>

    <small class="single-todo__author">{{ stodo.user }}</small>
  </div>
</div>

<!-- {{}} => interpolazione -->
<!-- eventi => (nome evento)='nome metodo', 
    per passare l'evento nomeMetodo($event) -->
<!-- [checked]=stodo.completed come funziona?? -->
